extends base.pug

block scripts
  script(src='../static/index.js')

block style 
    style
      include ..\static\style.css

block content 
    section#intoSection 
        div Welcome To RR's Dance Academy 
        div#small Eat Sleep Dance Repeat

    section#missionSection 
        h2 Our Missions
        div.card-container
            div.card
                h3 Dance Perfection
                div.card-box
                    div.card-img
                        img(src="/static/1.png", alt="error")
                    div.card-content
                        p This is the best dance academy

            div.card
                h3 Dance the way you like
                div.card-box
                    div.card-img
                        img(src="/static/2.png", alt="error")
                    div.card-content
                        p This is the best dance academy

            div.card
                h3 Expert Teaching
                div.card-box
                    div.card-img
                        img(src="/static/3.jpg", alt="error")
                    div.card-content
                        p This is the best dance academy

    section#sponserSection 
        h2 Our Sponsers
        div#sponsers
            img(src="/static/apple.png", alt="sponsers img" Class = "spimg")
            img(src="/static/microsoft.png", alt="sponsers img" Class = "spimg")
            img(src="/static/skype.jpg", alt="sponsers img" Class = "spimg")
            img(src="/static/hp.png", alt="sponsers img" Class = "spimg")